%footer.listing__footer
  %nav
    %ul.clearfix
      %li.listfooter
        = link_to "",class: "listfooter__text"  do
          プライバシーポリシー
      %li.listfooter
        = link_to "",class: "listfooter__text"  do
          メルカリ利用規約
      %li.listfooter
        = link_to "",class: "listfooter__text"  do
          特定商取引に関する表記
  = link_to products_path, class: "listing-footer-logo" do
    = image_tag "logo_gray.svg", alt: "frima", height: "65", width: "80"
  %p.listing__footer__name
    %small © Fmarket