/ Google Tag Manager (noscript)
%noscript
  %iframe{height: "0", src: ""}
/ End Google Tag Manager (noscript)
%header.user-container
  .user-header
    %h1.user-header__head
      = link_to root_path,class: "user-header__head__link" do
        = image_tag "fmarket_logo_red.svg", alt: "frima"
    %nav.user-header__nav
      %ol.user-header__nav__ol
        %li.active.user-header__nav__ol__progress
          会員情報
          .user-header__nav__ol__progress__li
        %li.user-header__nav__ol__progress
          電話番号認証
          .user-header__nav__ol__progress__li
        %li.user-header__nav__ol__progress
          お届け先住所入力
          .user-header__nav__ol__progress__li
        %li.user-header__nav__ol__progress
          支払い方法
          .user-header__nav__ol__progress__li
        %li.user-header__nav__ol__progress
          完了
          .user-header__nav__ol__progress__li
  %main.step1-main
    %section.step1-main__container
      .step1-main__container__head 会員情報入力
      = form_for @user, url: step2_signup_index_path, method: :get, html: {class: 'step1-main__container__box'} do |f|
        .step1-main__container__box__group
          .step1-main__container__box__group__form
            = f.label :nick_name, "ニックネーム"
            %span.span="必須"
            = f.text_field :nick_name, placeholder: '例) りょうちん'
            %ul.error-text.error-nickname
              %li= "ニックネームを入力して下さい"
          
          .step1-main__container__box__group__form
            = f.label :email, "メールアドレス"
            %span.span="必須"
            = f.email_field :email, placeholder: 'PC・携帯どちらでも可'
            %ul.error-text.error-mail
              %li= "メールアドレスを入力してください"

          .step1-main__container__box__group__form
            = f.label :password, "パスワード"
            %span.span="必須"
            = f.password_field :password, placeholder: '7文字以上の半角英数字'
            %ul.error-text.error-password
              %li= "パスワードを入力してください"
            .form-info-content
              ※ 英字と数字の両方を含めて設定してください
            .form-password-revelation-toggle
              .checkbox-default
                #reveal_password{type: "checkbox"}/
                %i.icon-check
                %label{for: "reveal_password"} パスワードを表示する
              .form-password-revelation-revealed-password-container
                %span.form-password-revelation-revealed-password
          .step1-main__container__box__group__form
            %p.step1-main__container__box__group__form__own
              本人確認
            %p.step1-main__container__box__group__form__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

          .step1-main__container__box__group__form
            = f.label :full_name, "お名前(全角)"
            %span.span="必須"
            %br
            .step1-main__container__box__group__form__half
              .step1-main__container__box__group__form__half__li
                = f.text_field :nick_name,placeholder: "苗字", class: "half"     # last_name
              .step1-main__container__box__group__form__half__li
                = f.text_field :nick_name,placeholder: "名前", class: "half"      # first_name
            %ul.error-text.error-last
              %li= "性 を入力してください"
            %ul.error-text.error-first
              %li= "名 を入力してください"
          .step1-main__container__box__group__form
            = f.label :full_name, "お名前カナ(全角)"
            %span.span="必須"
            %br
            .step1-main__container__box__group__form__half
              .step1-main__container__box__group__form__half__li
                = f.text_field :nick_name,placeholder: "苗字カナ", class: "half"     # last_name
              .step1-main__container__box__group__form__half__li
                = f.text_field :nick_name,placeholder: "名前カナ", class: "half"      # first_name
            %ul.error-text.error-last
              %li= "性カナ を入力してください"
            %ul.error-text.error-first
              %li= "名カナ を入力してください"
          .step1-main__container__box__group__form
            = f.label :birth_day,"生年月日"
            %span.span="必須"
            %br
            .step1-main__container__box__group__form__birth
              .step1-main__container__box__group__form__birth__day
                %i.icon-arrow-bottom
                %select.select-default.year{name: "year"}
                  %option{value: "01"} --
                  %option{value: "02"} 2019
                  %option{value: "03"} 2018
                  %option{value: "04"} 2017
                  %option{value: "05"} 2016
                  %option{value: "06"} 2015
                  %option{value: "07"} 2014
              %span
                ="年"
              .step1-main__container__box__group__form__birth__day
                %i.icon-arrow-bottom
                %select.select-default.year{name: "month"}
                  %option{value: "01"} --
                  %option{value: "02"} 1
                  %option{value: "03"} 2
                  %option{value: "04"} 3
                  %option{value: "05"} 4
                  %option{value: "06"} 5
                  %option{value: "07"} 6
              %span
                ="月"
              .step1-main__container__box__group__form__birth__day
                %i.icon-arrow-bottom
                %select.select-default.year{name: "day"}
                  %option{value: "01"} --
                  %option{value: "02"} 1
                  %option{value: "03"} 2
                  %option{value: "04"} 3
                  %option{value: "05"} 4
                  %option{value: "06"} 5
                  %option{value: "07"} 6
              %span
                ="日"
              %ul.error-text.error-birth
                %li= "生年月日を入力してください"
          %p.form-info-content
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .step1-main__container__box__group
          %input{name: "after_save_callback", type: "hidden", value: ""}/
          .step1-main__container__box__group__form
            #g-recaptcha-v2.g-recaptcha.signup-recaptcha
              %div
                %div
                  %iframe{frameborder: "0", height: "78", name: "a-a12m149j6ny8", role: "presentation", sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox", scrolling: "no", src: "https://www.google.com/recaptcha/api2/anchor?ar=2&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=PRkVene3wKrZUWATSylf69ja&size=normal&cb=b58c2vcn6wfv", width: "304"}
                  %textarea#g-recaptcha-response.g-recaptcha-response{name: "g-recaptcha-response"}
            %input#g-recaptcha-v3{name: "g_recaptcha_response_v3", type: "hidden"}/
            %input#g-recaptcha-v3-site-key
            .form-group
              %p.step1-text-center
                「次へ進む」のボタンを押すことにより、
                利用規約
                に同意したものとみなします
          .step1-main__container__box__group__submit
            = link_to step2_signup_index_path,class: "step1-main__container__box__group__submit__next" do
              次へ進む
          .step1-main__container__box__group__right
            .step1-main__container__box__group__right__menu
              = link_to "#",class: "step1-main__container__box__group__right__menu__arrow" do
                本人情報の登録について
                %i.icon.fas.fa-arrow-to-right
  = render "user_footer"