/ Google Tag Manager (noscript)
%noscript
  %iframe{height: "0", src: ""}
/ End Google Tag Manager (noscript)
%header.user-container
  .user-header
    %h1.user-header__head
      = link_to root_path,class: "user-header__head__link" do
        = image_tag "fmarket_logo_red.svg", alt: "frima"
    %nav.user-header__nav
      %ol.user-header__nav__ol
        %li.through.user-header__nav__ol__progress
          会員情報
          .user-header__nav__ol__progress__li
        %li.through.user-header__nav__ol__progress
          電話番号認証
          .user-header__nav__ol__progress__li
        %li.through.user-header__nav__ol__progress
          お届け先住所入力
          .user-header__nav__ol__progress__li
        %li.through.user-header__nav__ol__progress
          支払い方法
          .user-header__nav__ol__progress__li
        %li.active.user-header__nav__ol__progress
          完了
          .user-header__nav__ol__progress__li
  .n-box
    .n-box__top
      %p 会員登録完了
    .n-box__bottom
      .n-box__bottom__text
        %p ありがとうございます。
        %p 会員登録が完了しました。
      %button.n-box__bottom__link
        = link_to login_signup_index_path,class: "n-box__bottom__link__text" do
          メルカリをはじめる
    .n-box__bottom__image
      = link_to root_path,class: "n-box__bottom__image__img" do
        = image_tag "done.png", alt: "frima"
  = render "user_footer"