/ Google Tag Manager (noscript)
%noscript
  %iframe{height: "0", src: "", style: "display:none;visibility:hidden", width: "0"}
/ End Google Tag Manager (noscript)
.step1-container
  %header.step1-header
    %h1
      = link_to root_path do
        = image_tag "fmarket_logo_red.svg", alt: "frima"
    %nav.step1-header__nav
      %ol.step1-header__nav__ol
        %li.through.step1-header__nav__ol__li
          会員情報
          .progress-status__li
        %li.through.step1-header__nav__ol__li
          電話番号認証
          .progress-status__li
        %li.through.step1-header__nav__ol__li
          お届け先住所入力
          .progress-status__li
        %li.through.step1-header__nav__ol__li
          支払い方法
          .progress-status__li
        %li.active.step1-header__nav__ol__li
          完了
          .progress-status__li
  .n-box
    .n-box__top
      %p 会員登録完了
    .n-box__bottom
      .n-box__bottom__text
        %p ありがとうございます。
        %p 会員登録が完了しました。
      %button.n-box__bottom__link
        %a{href: done_signup_index_path} メルカリをはじめる
    .n-box__bottom__image
      = link_to root_path do
        = image_tag "done.png", alt: "frima"
  = render "exhibit_footer"