= render "./layouts/header"
= render "./layouts/breadcrumb"
.t-logout
  = render "./layouts/side_info"
  .t-logout__content
    .t-logout__content__container
      .t-logout__content__container__single
        %button.t-logout__content__container__single__btn
          ログアウト
= render "./layouts/banner"
= render "./layouts/footer"
= render "./layouts/listing_btn"
