= render "./layouts/header.html.haml"
= render "./layouts/breadcrumb.html.haml"
.t-logout
  = render "./layouts/side_info.html.haml"
  .t-logout__content
    .t-logout__content__container
      .t-logout__content__container__single
        %button.t-logout__content__container__single__btn
          ログアウト
= render "./layouts/banner.html.haml"
= render "./layouts/footer.html.haml"
= render "./layouts/listing_btn.html.haml"
