%header.user-container
  .user-header
    %h1.user-header__head
      = link_to root_path,class: "user-header__head__link" do
        = image_tag "fmarket_logo_red.svg", alt: "frima"
  %main.login__main
    .login__main__panel
      %p アカウントをお持ちでない方はこちら
      = link_to step1_signup_index_path,class: "login__main__panel__no-acount" do
        %p.btn-new 新規会員登録
      .login__form__inner
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          %i.icon-facebook
            = link_to user_facebook_omniauth_authorize_path do
              %p Facebookでログイン
        %button#google-login.btn-default.btn-sns.btn-sns-google
          = link_to user_google_oauth2_omniauth_authorize_path, class: "a_google" do
            %p Googleでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login__form__inner
          .form-group
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "login-input-text"
          .form-group
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "login-input-text"
          .form-group
            .g-recaptcha.login-captcha
              %iframe{frameborder: "0", name: "a-hi5p4zk2v57m", role: "presentation",
                sandbox: "allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox",
                scrolling: "no",
                src: "https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=PRkVene3wKrZUWATSylf69ja&size=normal&cb=8q5d6m1b7b05"}
              %textarea#g-recaptcha-response.g-recaptcha-response{name: "g-recaptcha-response"}
          .login-submit
            = f.submit "ログイン", class: "login-submit-text"
          = link_to root_path class: "a_submit" do
            %p パスワードをお忘れの方
    %form#login_form_facebook
    %form#login_form_google
  %footer.login__footer
  = render "signup/user_footer"
