.listing
  = render "./parts/exhibit_header.html.haml"
  .single-box
    %main.single-main__box__sell
      %section.single-main__box__sell__inner
        %h2.single-main__box__sell__inner__head
          商品の情報を入力
        = form_with model: @product, local: true, class: "single-main__box__sell__inner__form", id: "form_with"  do |f|
          .single-main__box__sell__inner__form__upload
            %h3.single-main__box__sell__inner__form__upload__head
              出品画像
              %span.form-require
                必須
            %p 最大10枚までアップロードできます
            .single-main__box__sell__inner__form__upload__items
              - @product.images.each do |image|
                .preview-box
                  .preview-box__img-box
                    = image_tag "#{image.image}"
                    .preview-box__select__delete
                      = link_to "/images/#{image.id}", method: :delete do
                        %p  削除
              %label.single-main__box__sell__inner__form__upload__items__input
                = f.fields_for @product.images do |image|
                  = image.file_field :image, multiple: true, name: 'images[image][]', id: "upload-image"
                  %pre.drop-text
                    クリックしてファイルをアップロード

          .single-main__box__sell__inner__form__index-box
            .form-group
              %label
                商品名
                %span.form-require
                  必須
              %div
                = f.text_field :name, placeholder: "商品名(必須 40文字まで)", class: "input-default"
            .form-group
              %label
                商品の説明
                %span.form-require
                  必須
              %div
                = f.text_area :information, class: "textarea-default", rows: 5, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
          .single-main__box__sell__inner__form__index-box
            %h3.item-sub-head
              商品の詳細
            .item-form-box
              .form-group#category-select-box_list
                %label
                  カテゴリー
                  %span.form-require
                    必須
                .select-wrap#parent_box
                  %i.icon-arrow-bottom
                  = f.collection_select :category_id, @category, :id, :genre, {prompt: "---",selected: @select_parent.id},  class: "select-default", id: "parent_form"
                .select-wrap#child_box
                  %i.icon-arrow-bottom
                  = f.collection_select :category_id, @child_category, :id, :genre, {prompt: "---", selected: @select_child.id}, class: "select-default", id: "child_form"
                .select-wrap#grandchild_box
                  %i.icon-arrow-bottom
                  = f.collection_select :category_id, @grand_child_category, :id, :genre, {prompt: "---", selected: @select_grandchild.id}, class: "select-default", id: "grandchild_form"
              .form-group#brandbox_list
                #brand_box
                  %label#brand_box__label
                    ブランド名
                    %span.form-arbitrary
                      任意
                    %span.attention
                  %div
                    = f.text_field :brand, placeholder: "例）シャネル", class: "input-default", id: "input_brand_box", name: "brand_name",value: @brand_name
                    #search_brand_box
                      %ul#search_brand_result
              .form-group
                %label
                  商品の状態
                  %span.form-require
                    必須
                .select-wrap
                  %i.icon-arrow-bottom
                  = f.select :condition, @condition, {prompt: "---"}, class: "select-default"
          .single-main__box__sell__inner__form__index-box
            %h3.item-sub-head
              配送について
            = link_to root_path, target: "_blank", class: "form-question" do
              ?
            .item-form-box
              .form-group#postage-select-box_list
                %label
                  配送料の負担
                  %span.form-require
                    必須
                .select-wrap#postage_box
                  %i.icon-arrow-bottom
                  = f.select :shipping_charge, @shipping_charge, {prompt: "---"}, class: "select-default", id: "postage_form"
              .form-group
                %label
                  発送元の地域
                  %span.form-require
                    必須
                .select-wrap
                  %i.icon-arrow-bottom
                  = f.select :prefecture_id, @prefecture, {prompt: "---"}, class: "select-default"
              .form-group
                %label
                  発送までの日数
                  %span.form-require
                    必須
                .select-wrap
                  %i.icon-arrow-bottom
                  = f.select :days_before_skipment, @days_before_skipment, {prompt: "---"}, class: "select-default"
          .single-main__box__sell__inner__form__index-box
            %h3.item-sub-head
              販売価格(300〜9,999,999)
            = link_to root_path, target: "_blank", class: "form-question" do
              ?
            %span.attention#price-attention
              価格は300〜9,999,999の範囲で設定してください
            .item-form-box
              %ul.sell-price
                %li.form-group
                  .clearfix
                    %label.left-text
                      価格
                      %span.form-require
                        必須
                    .yen-mark
                      ¥
                      .input-price
                        = f.text_field :price, class: "input-default", placeholder: "例）300"
                %li.clearfix#sale-tax
                  .left-text
                    販売手数料 (10%)
                  .right-text#tax-text
                    ー
                %li.clearfix.bold
                  .left-text
                    販売利益
                  .right-text#profit-text
                    ー
          .single-main__box__sell__inner__form__index-box
            .attention-text
              %p
                禁止されている出品、行為を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
              %p
                また、出品をもちまして加盟店規約に同意したことになります。
            = f.submit "出品する", class: "btn-default btn-red", id: "item-submit"
            = link_to root_path, class: "btn-default btn-gray" do
              戻る
            - if current_user.id == @product.user_id
              = link_to product_path(@product.id), method: :delete, class: "btn-default btn-red" do
                商品を削除

  = render "./parts/exhibit_footer.html.haml"
