.wrapper
  = render "./layouts/header"
  = render "./layouts/slider"
  = render "./layouts/category_choice"
  = render "./layouts/new_ladys"
  = render "./layouts/brand_choice"
  = render "./layouts/new_brand"
  = render "./layouts/banner"
  = render "./layouts/listing_btn"
  = render "./layouts/footer"
  
