.wrapper
  = render "./layouts/header.html.haml"
  = render "./layouts/slider.html.haml"
  = render "./layouts/category_choice.html.haml"
  = render "./layouts/new_arrivals.html.haml"
  = render "./layouts/footer.html.haml"
