.wrapper
  -if user_signed_in?
    = render "./layouts/header_no_login.html.haml"
  -else
    = render "./layouts/header_no_login.html.haml"

  = render "./layouts/slider.html.haml"
  = render "./layouts/category_choice.html.haml"
  = render "./layouts/new_ladys.html.haml"
  = render "./layouts/brand_choice.html.haml"
  = render "./layouts/new_brand.html.haml"
  = render "./layouts/banner.html.haml"
  = render "./layouts/listing_btn.html.haml"
  = render "./layouts/footer.html.haml"
  
