.listing
  = render "./parts/exhibit_header.html.haml"
  %main.listing__main
    %section.listing__main__container
      #sell-container
        .sell-container__inner
          %h2.sell-container__inner__head 商品の情報を入力
          = form_with model: @product, class:"sell-container__inner__form" do |f|
            .sell-container__inner__form__box
              %h3.sell-container__inner__form__box__head
                出品画像
                %span.form-require 必須
              %p 最大10枚までアップロードできます
              .sell-container__inner__form__box__dropbox__container
                .sell-container__inner__form__box__dropbox__container__items
                  .sell-container__inner__form__box__dropbox__container__item
                    %ul
                .sell-container__inner__form__box__dropbox__container__no_item
                  = f.fields_for :images do |c|
                    = c.label :image, class: "dropzone" do
                      = c.file_field :image, multiple: true, class: "product_images"
                      %pre.visible-pc
                        ドラッグアンドドロップ
                        またはクリックしてファイルをアップロード
            .sell-container__inner__form__content
              .form-group
                %label
                  商品名
                  %span.form-require 必須
                %div
                  = f.text_field :name, class: 'input-default', placeholder: "商品名（必須 40文字まで)"
              .form-group
                %label
                  商品の説明
                  %span.form-require 必須
                = f.text_area :information, class: 'textarea-default', placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など 例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
            .sell-container__inner__form__content.clearfix
              %h3.sell-container__inner__form__content__head 商品の詳細
              .sell-container__inner__form__content__form-box
                .form-group
                  %label
                    カテゴリー
                    %span.form-require 必須
                  %div
                    .select-wrap
                      = fa_icon "arrow-bottom"
                      %i.icon-arrow-bottom
                      = f.collection_select :category_id, @category_id, :id, :genre, {}, {class: "select-default"}
                .form-group
                  %label
                    ブランド
                    %span.form-any 任意
                  %div
                    .select-wrap
                      = fa_icon "arrow-bottom"
                      %i.icon-arrow-bottom
                      = f.text_field :brand, class: 'input-default', placeholder: "例）シャネル", id: "brand"
                .form-group
                  %label
                    商品の状態
                    %span.form-require 必須
                  .select-wrap
                    %i.icon-arrow-bottom
                    = f.select :condition, @condition, {}, {class: "select-default"}
            .sell-container__inner__form__content.clearfix
              %h3.sell-container__inner__form__content__head 配送について
              %a.form-question{href: "/jp/help_center/article/68/", target: "_blank"} ?
              .sell-container__inner__form__content__form-box
                .form-group
                  %label
                    配送料の負担
                    %span.form-require 必須
                  .select-wrap
                    %i.icon-arrow-bottom
                    = f.select :shipping_charge, @shipping_charge, {}, {class: "select-default"}
                .form-group
                  %label
                    発送元の地域
                    %span.form-require 必須
                  .select-wrap
                    %i.icon-arrow-bottom
                    = f.select :prefecture_id, @prefecture_id, {}, {class: "select-default"}
                .form-group
                  %label
                    発送までの日数
                    %span.form-require 必須
                  .select-wrap
                    %i.icon-arrow-bottom
                    = f.select :days_before_skipment, @days_before_skipment, {}, {class: "select-default"}
            .sell-container__inner__form__content.clearfix
              %h3.sell-container__inner__form__content__head 販売価格(300〜9,999,999)
              %a.form-question{href: "/jp/help_center/article/64/", target: "_blank"} ?
              .sell-container__inner__form__content__form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      %label.l-left
                        価格
                        %span.form-require 必須
                      .l-right.sell-price-input
                        ¥
                        %div
                          = f.number_field :price, class: 'input-default', placeholder: "例）300"
                  %li.clearfix
                    .l-left
                      販売手数料 (10%)
                    .l-right -
                  %li.clearfix.bold
                    .l-left 販売利益
                    .l-right -
            .modal{role: "dialog", tabindex: "-1"}
              .modal-inner
            .sell-container__inner__form__content.sell-btn-box
              %div
                %p
                  = link_to "" do
                    禁止されている出品
                  、
                  = link_to "" do
                    行為
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to "" do
                    偽ブランドの販売
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  = link_to "" do
                    加盟店規約
                  に同意したことになります。
              = f.submit "出品する", class: "btn-default btn-red"
              = link_to products_path, class: "btn-default btn-gray" do
                もどる
  = render "./parts/exhibit_footer.html.haml"