.new-brand1
  - @brands.each do |brand|
    .new-brand1__junre
      .new-brand1__junre__top
        .new-brand1__junre__top__box
          .new-brand1__junre__top__box__text
            = "#{brand.name}新着アイテム"
        .new-brand1__junre__top__see-more
          = link_to products_path, class: "new-brand1__junre__top__see-more__text" do
            もっと見る
          .new-brand1__junre__top__see-more__img
            %i.fas.fa-chevron-right
      .new-brand1__junre__lineup
        .new-brand1__junre__lineup__wrap
          %ul.new-brand1__junre__lineup__wrap__box
            - brand.products.first(10).each do |product|
              %li.new-brand1__junre__lineup__wrap__box__addition
                %div.new-brand1__junre__lineup__wrap__box__addition__sammury{style: "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                  = link_to product_path(product.id), class: "new-brand1__junre__lineup__wrap__box__addition__sammury__communication" do
                    %figure.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic
                    .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap
                      - product.images.first(1).each do |image|
                        = image_tag "#{image.image}", class: "new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img"
                        - @sold = Dealing.find_by(product_id: product)
                        - if @sold != nil
                          - if @sold.status == "2"
                            .sold
                              .sold__box
                                .sold__box__text
                                  SOLD
                        .new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                          %span.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price
                            = "¥#{product.price}-"
                      %figcaption.new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                        %span
                          = product.name
