.new-ladys
  - @categories.each do |category|
    .new-ladys__junre
      .new-ladys__junre__top
        .new-ladys__junre__top__box
          .new-ladys__junre__top__box__text
            = "#{category.genre}新着アイテム"
        .new-ladys__junre__top__see-more
          = link_to products_path, class: "new-ladys__junre__top__see-more__text" do
            もっと見る
          .new-ladys__junre__top__see-more__img
            %i.fas.fa-chevron-right
      .new-ladys__junre__lineup
        .new-ladys__junre__lineup__wrap
          %ul.new-ladys__junre__lineup__wrap__box
            - category.products. first(10).each do |product|
              %li.new-ladys__junre__lineup__wrap__box__addition
                %div.new-ladys__junre__lineup__wrap__box__addition__sammury
                  .new-ladys__junre__lineup__wrap__box__addition__sammury__communication
                  %figure.new-ladys__junre__lineup__wrap__box__addition__sammury__communication__pic
                    = link_to product_path(product.id), class: "new-ladys__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap" do
                      - product.images.first(1).each do |image|
                        = image_tag "#{image.image}", class: "new-brand1__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__img"
                        - @sold = Dealing.find_by(product_id: product)
                        - if @sold != nil
                          - if @sold.status == "2"
                            .sold
                              .sold__box
                                .sold__box__text
                                  SOLD
                      .new-ladys__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label
                        %span.new-ladys__junre__lineup__wrap__box__addition__sammury__communication__pic__wrap__price-label__price
                          = "¥#{product.price}-"
                    %figcaption.new-ladys__junre__lineup__wrap__box__addition__sammury__communication__pic__name
                      %span
                        = product.name