.slick
  %ul.slick__slide
    %li.slick__slide__img1
      .slick__slide__img1__box
        .slick__slide__img1__box__wrap
          .slick__slide__img1__box__wrap__left
            .slick__slide__img1__box__wrap__left__text
              スマホで
              かんたん
              %br>/
              フリマアプリ
            %p.slick__slide__img1__box__wrap__left__text2
              メルカリはスマホカメラからすぐに出品できる
              %br>/
              購入時も安心な独自システムのアプリです
            .slick__slide__img1__box__wrap__left__text3
              =link_to products_path, class: "slick__slide__img1__box__wrap__left__text3__img1" do
                = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",class: "slick__slide__img1__box__wrap__left__text3__img1__img"
              = link_to products_path, class: "slick__slide__img1__box__wrap__left__text3__img2" do
                = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: "slick__slide__img1__box__wrap__left__text3__img2__img"
          .slick__slide__img1__box__wrap__right
            = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png", class: "slick__slide__img1__box__wrap__right__img"
        = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu2NyFeaxRx42YXHhBvajDSpEAhoCGFdRtMvFraDTu6Dzj3UA-&s", class: "slick__slide__img1__box__bg"
    %li.slick__slide__img2
      = image_tag "sns_01.jpg", class: "slick__slide__img2__bg2"
    %li.slick__slide__img3
      = image_tag "index_keyvisual.png", class: "slick__slide__img3__bg3"

